.parent{
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color:#DCDCDC;

}
.left{
	width: 20%;
	padding: 1%;
	margin: 1%;
}
.right{
	width: 75%;
	padding: 1%;
	margin: 1%;
}
img{
	display: block;
	width: 150px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
}
.car{
	background-color:skyblue;}
h1{
	color: maroon;
	background-color: skyblue;
}
h3{
	color:maroon;
}
hr{
	padding: 0.2%;
	color: teal;

}
.sk{
	box-shadow: 2px 2px 2px 2px solid maroon;
	border: 2px solid;
	text-align: center;
	padding: 1%;
	margin: 1%;
	color: teal;
	width: 100%;
}
.lan{
	color: blue;
	padding: 1%;
	margin: 1%;
	box-shadow: 2px 2px 2px 2px solid maroon;
	border: 2px solid maroon;
	text-align: center;
}
.info{
	color: green;
	font-weight: bold;
	text-align: center;
}
@media only screen and (min-width:320px) and (max-width:480px ){

.parent{
	display: flex;
	flex-direction: column;
	max-width:100%;
	background-color:#FFDAB9;

}
.left{
	width:100%;
	padding: 1%;
	margin: 1%;
	word-wrap: break-word;

}
.right{
	width:100%;
	padding: 1%;
	margin: 1%;
}
h1,.lan,.ski,.car,.work,.edu,.skill,hr{
	max-width:90%;
}
.info{
	word-wrap: break-word;
}
p{
	font-size: 20px;
	font-weight:inherit;
}
}
@media only screen and (min-width:481px) and (max-width:767px ){

.parent{
	display: flex;
	flex-direction:row;
	max-width:100%;
	background-color:#2F4F4F;

}
.left{
	width:100%;
	padding: 1%;
	margin: 1%;
	word-wrap: break-word;

}
.right{
	width:100%;
	padding: 1%;
	margin: 1%;
}
h1,.lan,.ski,.car,.work,.edu,.skill,hr{
	max-width:90%;
}
.info{
	word-wrap: break-word;
}
p{
	font-size: 35px;
	font-weight: bold;
}
}